<div id="<%= dom_id post_category %>">
  <p>
    <strong>Post:</strong>
    <%= post_category.post_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= post_category.category_id %>
  </p>

</div>
